body {
    background-color: #a3d5d3;
   
    max-height: 100px;
    margin: auto;
  }
.flex-container{
  display: flex;
  height: 1000px;
}
.menu{
  width: 300px;
  height: 300px;
}
.detailmenu{
  width: 250px;
  height: 300px;

}
.container {
    float: right;
    width: 100%;
    padding: 60px;
    height: 300px;
  }
* {
    box-sizing: border-box;
}
.detail-popup {
    position: relative;
    text-align: center;
    
}
    
.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top:2%;
    transform: translate(-45%,5%);
    border: 0px solid #666;
    z-index: 9;
    }
    
.form-container {
    max-width: 600px;
    padding: 20px;
    background-color:  #fff;
   
    }
    .form-container input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 1px 0 2px 0;
    border: none;
    background: #eee;
    }
    
    .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
    }
    .form-container .save {
    background-color: #cc0000;
    }
    
    .form-container .btn:hover, .open-button:hover {
    opacity: 1;
    }
  

    ul {
      list-style-type: none;
      margin: 20;
      padding: 0;
      width: 200px;
      background-color: #f1f1f1;
    }
    
    li a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
    }
    
    /* Change the link color on hover */
    li a:hover {
      background-color: #555;
      color: white;
    }
    
    .botton span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    .botton span:after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    .botton:hover {
      background-color: #f7c2f9;
    }
    .botton:hover span {
      padding-right: 25px;
    }
    .botton:hover span:after {
      opacity: 1;
      right: 0;
    
    }

