<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/js/bootstrap.min.js">
        <link rel="stylesheet" href="css/toastr.css">
        <link rel="stylesheet" href="css/log.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <link rel="stylesheet" href="lib/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <style type="text/css">
      #map { height: 600px; }  
    </style>
    
    
  </head>
  
  <body ng-app="myApp">
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid justify-content-between">
          
          <div class="d-flex">
            
            <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
            <img src="img/R.png" height="20" alt="MDB Logo" loading="lazy" style="margin-top: 2px;"/>
            </a>
            <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="ListeSignal.html">Listes Signal</a>
            <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="carte.html">Carte</a>
          
          </div>      
          <ul class="navbar-nav flex-row">
          <li class="nav-item me-3 me-lg-1">
            <a class="nav-link d-sm-flex align-items-sm-center" href="#">
              <i class="bi bi-person"></i><strong class="d-none d-sm-block ms-1"></strong>
            </a>
          </li>
          <div ng-controller="out"><button class="btn btn-outline-secondary" ng-click=logout() type="button" aria-expanded="false">Sign out  <i class="bi bi-box-arrow-right"></i></button></div>
           
      </div>
    </nav>

    <div class="flex-container">
      <div style="flex-grow: 2">

        <div id="map" ng-controller="carte"></div>

      </div>
      <div style="flex-grow: 1">
        <div class="andrana"> 
          <div ng-controller="andrana">
            <h3 style="text-align: center;text-transform: uppercase;">Recherche</h3>
            <form class="input-group w-auto my-auto d-none d-sm-flex">
            <div id="date1" style="position: absolute;left : 150px;top:20px;"> 
            <input ng-model="newR.date1" autocomplete="off" type="date" class="form-control rounded" placeholder="Search" style="min-width: 125px;"/>
            </div>
            <div id="date2" style="position: absolute;left : 150px;top  : 80px;"> 
            <input ng-model="newR.date2" autocomplete="off" type="date" class="form-control rounded" placeholder="Search" style="min-width: 125px;"/>
            </div>
            <div id="type" width="150px" style="position: absolute;left :180px;top:120px;"> 
              <select ng-model="newR.idtype">
                <option ng-repeat="typ in types" value="{{typ.id}}">{{typ.typesignalement}}</option>
              </select>
            </div>
                <div id="statut" style="position: absolute;left :190px;top: 180px;">
                <select  ng-model="newR.idstatut">
                  <option ng-repeat="stat in statuts" value="{{stat.id}}" >{{stat.nomstatut}}</option>
                </select>              
              </div>
              <div id="botton" style="position: absolute;left:190px;top:260px">
                <button  class="botton"  ng-click="recherche(newR)" style="border-radius: 30px;"><span>Recherche</span></button>
              </div>
    
          </form>
          </div>
      </div>
    
  </body>
</html>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script>
  


</script>
<script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/toastr.min.js"></script>
  <script src="lib/angular-route.js"></script>
  <script src="app/controllers.js"></script>
  <script src="script.js"></script>